body {
    background: url(/Images/home1.jpg) no-repeat top center;
    background-size: cover;
    color: white;
    margin: 0, auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

