body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

header img {
    height: 25px;
    margin-top: 10px;
    margin-left: 10%;
}

header nav {
    justify-content: space-between, 10px;
    align-items: center;
    margin-top: 10px;
    margin-right: 10%;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}