body {
    background: url(/Images/home1.jpg) no-repeat top center;
    background-size: cover;
    color: white;
    margin: 0, auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

header img {
    height: 25px;
    margin-top: 10px;
    margin-left: 10%;
}

header nav {
    justify-content: space-between, 10px;
    align-items: center;
    margin-top: 10px;
    margin-right: 10%;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}